<!DOCTYPE html>
{% extends "simple/base.html" %}
{%load crispy_forms_tags %} 
{% load static %}
{% block things %}
<title>Register</title>

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'simple:database' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {% for field in register %}
                      
                    <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}} </label>
                    {{field}}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock things %}


<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="my-input">{{register.title.label}}:</label>
        {{register.title}}
    </div>
    <div class="form-group">
        <label for="my-input">{{register.featured_image.label}}:</label>
        {{register.featured_image}}
    </div>
    <div class="form-group">
        <label for="my-input">{{register.description.label}}:</label>
        {{register.description}}
    </div>
    <div class="form-group">
        <label for="my-input">{{register.demo_link.label}}:</label>
        {{register.demo_link}}
    </div>
    <div class="form-group">
        <label for="my-input">{{register.source_link.label}}:</label>
        {{register.source_link}}
    </div>
    <div class="form-group">
        <label for="my-input">{{register.tag.label}}:</label>
        {{register.tag}}
    </div>

    <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>   
    </div>
</form>


